*{
    margin: 0;
    padding: 0;
}
html{
    height: 100vh;
}
.container{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    height: 100vh;
}
.sidebar{
    grid-row:1/5;
    background-color: #06b6d4;
    display: grid;
    grid-template-rows: 0.5fr repeat(5,0.25fr) 0.25fr repeat(3,0.25fr) 2fr;
    color: white;
    justify-content: center;
    align-items: center;
}
.header{
    grid-column: 2/10;
    background-color: #fafaf9;
    grid-template-rows: 1fr 1fr;
    display: grid;
    height: fit-content;
}
.content{
    grid-row: 2/5;
    grid-column: 2/10;
    background-color: #d4d4d4;

}
.sidebarFirst{
  display: contents;
}
.sidebarSecond{
  display: contents;
}
a{
    color: white;
    text-decoration: none;
}

h1 img{
    height: 1em;
    background-color: white;
    margin-right: 5px;
}
.headerFirst{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}
.headerSecond{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    align-items: center;
    justify-items: center;
}
.headerFirst img{
    height: 2em;
}
.header input{
    height: 2em;
    width: -webkit-fill-available;
    border-style: revert-layer;
    grid-column: 2 / 9;
}
.name{
    grid-column: 13 / 17;
    font-size: 2em;
}
#bell{
    grid-column: 12/13;
}
#userIcon{
    grid-column: 11/12;
}
#headerText{
    grid-column: 2/5;
}
#secondText{
    font-size: 1.5em;
}
img{
    height: 5em;
}
#space{
    grid-column: 5/10; 
}
button{
    height: 3em;
    width: -webkit-fill-available;
    color:white;
    background-color: #06b6d4;
    border-radius: 2em;
    border-style: none;
}
button#first{
    grid-column: 10/11;
}
button#second{
    grid-column: 12/13;
}
button#third{
    grid-column: 14/15;
}